
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }

  .centered {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}